/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #2D25A0;
}
.button{
    float: right;
    margin: 30px 70px;
}
.loginbtn{
    color: white;
    background-color: #E02C6D;
    text-decoration: none;
    padding: 10px 35px;
    font-size: 13px;
    
    margin: 30px 70px;

}
.fa-arrow-right{
    margin-right: 5px;
}
.content{
    display: flex;
    
}
.title{
    width: 322px;
    height: 230px;
    margin-left: 70px;
    margin-top: 207px;
}
.title h1{
    margin-right: 80px;
    color:white;
    font-size: 45px;
}

.title a{
    color: white;
    background-color:  #E02C6D;
    text-decoration: none;
    padding: 10px;
    padding-left: 20px;
    font-size: 13px;
    transition: 0.3s;
  
}
.title a:hover{
    color:#255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 5px #2196f3, 0 0 5px #2196f3;
}

.title i{
    padding-left: 6px;
    padding-right: 8px;
    
}
.banner img{
    width: 556.01px;
    height: 438px;
    margin-top:150px;
    margin-bottom: 109px;
    margin-left: 50px;
}
.container{
    margin: 40px 80px 40px 80px;
    background-color: #FFFFFF;
}
.players{
    display: flex;
    justify-content:center;
  
    
    
}
.single-player{
    margin: 30px;
    box-shadow: 0px 0px 3px 3px grey;
    width: 250px;
    height: 336px;
    padding: 10px;
}
.player-image img{
    width: 249px;
    height: 200px;
}
.player-info p{
    font-size: 12px;
    color:#9d9090;
}
/* bonus part */

.bonus{
    background-color: #E7E6E4;
    padding-bottom: 30px;
}

.point{
    width: 267px;
    padding-top: 50px;
}
.policy{
    width: 460px;
    margin: 33px;
    padding-top: 20px;
   
}
.fa-chevron-circle-right{
    color:#0068B2;
    padding-left: 14px;
}
.flex{
    display: flex;
    flex-direction:column;
    
    
    
}
.point ul li{
    list-style: none;
    
}
.point ul li a{
    text-decoration: none;
    color:#9094a0; 
}
#one{
    margin-left: 107px;
}
#two{
    margin-left: 78px;  
}
#three{
    margin-left: 64px;  
}
#four{
    margin-left: 94px;  
}
#five{
    margin-left: 133px;  
}
/* footer-style */
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}
.footer-banner img{
    width: 260px;
    height: 67.42px
}
.footer-content p{
    font-size: 13px;
    color:#666161;
    text-align: center;
    margin-left: 50px;
}
.social{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.social li{
    margin: 0 5px;
}
.social a i{
  color: #9094a0;
  background-color: #e3e6ee;
  padding: 5px;
  border-radius: 50%;
    
}
.fa-copyright{
    color:#666161; 
}

